@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@font-face {
    font-family: "KrinkesDecorPERSONAL";
    src: url("../fonts/KrinkesDecorPERSONAL.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.bar {
    background-color: #f2f2f2;
    padding: 0px 35px;
    font-size: 10.56pt;
    font-family: "Lato", sans-serif;
    display: flex;
    color: #393939;
}
.bar span {
    padding: 15px 0px;
    /* flex-basis: auto; */
}
.bar i {
    padding-right: 5px;
}
.bar ul {
    list-style: none;
    display: block;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.bar li {
    padding: 0px 22px;
    margin: 15px 0px;
    border-right: #393939 solid 1px;
}
.bar li:last-child {
    border: none;
}
.bar a {
    text-decoration: none;
    color: #393939;
    padding: 15px 22px;
    box-sizing: border-box;
}
nav {
    display: flex;
}
.nav-bar {
    font-family: "Playfair Display", serif;
    list-style: none;
    display: flex;
    padding-left: 20px;
    font-weight: 500;
    margin: 0;
    flex: 1;
}
.nav-bar a {
    text-decoration: none;
    /* box-sizing: border-box; */
    color: black;
    font-size: 18pt;
    padding: 72px 15px;
}
.nav-bar a:hover {
    background-color: #f2f2f2;
}
h1 {
    position: absolute;
    font-size: 72pt;
    font-family: "KrinkesDecorPERSONAL";
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    width: 100%;
    text-align: center;
}
.social {
    padding-left: 0;
    padding-left: 20px;
    display: flex;
    margin: 0;
    float: right;
    list-style: none;
    /* flex: 1; */
    margin-right: 35px;
}
.social li a {
    display: inline-block;
    margin: 0 5px;
}
.social img {
    box-sizing: border-box;
    margin: 69px 7px;
}
h3#border::after,
h3#border::before {
    display: inline-block;
    content: "____";
    border-top: 1px solid white;
    width: 25px;
    margin: 0 1rem;
    /* transform: translateY(-0.5rem); */
}
.social button {
    background-color: black;
    color: white;
    align-self: center;
    margin-top: 50%;
    transform: translateY(30%);
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}
.social li:last-child {
    margin-left: 20px;
    /* margin-rigxht: 20px; */
}
.nav-bar li a {
    display: inline-block;
}
nav div {
    flex: 1;
}
.banner img {
    width: 100%;
    z-index: 0;
}
.banner {
    position: relative;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position-x: center;
    min-height: 550px;
}
.sale {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    /* right: ; */
    top: 60%;
    transform: translate(-50%, -50%);
    /* bottom: 0; */
    /* margin: 0 auto; */
    font-family: "Lato";
}
.sale div {
    border: 1px solid white;
    outline: 2px solid white;
    outline-offset: 6px;
}
.sale * {
    margin: 0;
    text-align: center;
}
.sale h3 {
    font-size: 24pt;
    color: white;
    padding: 14px 0px;
}
.sale h2 {
    font-size: 58pt;
    padding: 20px 55px;
}
.sale span {
    font-size: 26pt;
    box-sizing: border-box;
    padding: 14px 0px;
}
section {
    font-family: "Lato";
}
#border {
    /* width: 100%; */
    text-align: center;
}
.sale button {
    margin: 55px 0px;
    padding: 20px 32px;
    font-weight: bold;
    background-color: #f09d66;
    border: 0;
    font-size: 24pt;
    color: white;
    cursor: pointer;
    font-family: "Lato";
}
.sale button:hover {
    background-color: #da7c3d;
}
.support {
    display: flex;
    padding: 35px;
    color: white;
}
.g-1,
.g-2,
.g-3 {
    position: relative;
    /* display: flex; */
    /* flex: 1; */
    padding: 10px;
}
.g-1,
.g-3 {
    background-color: #d9bf8f;
    flex: 1;
}
.g-1,
.g-2 i {
    padding-left: 30px;
}
.g-2 {
    background-color: black;
    margin-left: -60px;
    margin-right: -60px;
    flex-basis: 100%;
}
.support h2 {
    font-size: 16pt;
    padding: 22px 20px;
    padding-bottom: 0px;
    /* padding-bottom: 15px; */
    margin: 0;
    font-weight: bold;
}
.support span {
    font-size: 13pt;
    margin: 15px 20px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #d9bf8f;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid #d9bf8f;
}
.inwards-left {
    width: 0;
    height: 0;
    border-top: 60px solid black;
    border-bottom: 60px solid black;
    border-right: 60px solid black;
    border-left: 60px solid transparent;
    margin-left: -20px;
}
.inwards-right {
    width: 0;
    height: 0;
    border-top: 60px solid black;
    border-bottom: 60px solid black;
    border-left: 60px solid black;
    border-right: 60px solid transparent;
    margin-right: -20px;
}
.center-s {
    display: flex;
    position: relative;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.flex h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
}
.flex {
    display: flex;
}
.flex div {
    /* display: flex; */
    flex: 1;
    text-align: center;
}
.flex h2 {
    margin: 0;
    font-size: 30pt;
}
#second-t {
    float: left;
    padding: 18px 0px;
}
#first-t {
    float: right;
    padding: 18px 0px;
}
.pictures {
    display: flex;
    /* padding: 75px; */
    margin: 35px;
}
.pictures img {
    width: 100%;
    height: 100%;
}
.first,
.third {
    /* display: flex; */
    /* flex: 1; */
    margin: 0px 20px;
    flex-basis: 32%;
    position: relative;
}
.second {
    flex-basis: 36%;
    position: relative;
}
.second div {
    height: 100%;
}
.pictures img {
    outline: 3px solid white;
    outline-offset: -23px;
}
.pictures div div:hover img {
    outline-color: rgba(189, 184, 184, 0.521);
    outline-width: 23px;
    cursor: pointer;
}
.first div:first-child,
.third div:first-child {
    margin-bottom: 20px;
}
.pictures div div {
    position: relative;
}
.pictures button {
    position: absolute;
    display: inline-block;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 15px 20px;
    color: white;
    background-color: #f09d66;
    font-weight: 500;
    cursor: pointer;
    display: none;
}
.pictures div div:hover button {
    display: block;
}
.left-inc::before {
    content: empty;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
/* .left-inc {
    border-left: 25px solid transparent;
    border-right: 25px solid black;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: translate(-69%, -50%);
    
} */
.pictures button:hover {
    background-color: #f0975c;
}
/* .third {
    display: flex;
    flex: 1;
    margin: 0px 20px;
    flex-basis: 31%;
} */
/* .first img {
    margin-bottom: 14px;
    margin-right: 14px;
}
.third img {
    margin-left: 14px;
    margin-bottom: 14px;
} */
.collection {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    border: 1px solid #eaeaea;
    justify-content: center;
}
.collection div {
    /* flex: 1; */
    position: relative;
}
.collection img {
    /* width: 100%; */
    padding: 10px;
    /* z-index: ; */
}
.collection span {
    position: absolute;
    left: 0;
    color: white;
    background-color: #feab12;
    border-radius: 50%;
    padding: 20px 12px;
    margin: 24px;
    font-family: "Lato";
    font-size: 18pt;
}
.collection div div {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 14px; */
    margin: 10px;
    z-index: 0;
}
.collection div:hover #overlay {
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0.37);
}
.collection div:hover button {
    background-color: #f0975c;
}

#link-top {
    position: fixed;
    bottom: 0;
    z-index: 15;
    right: 0;
    margin: 10px;
    visibility: hidden;
    /* width: 10%; */
}
.collection button {
    /* float: i;
    color: white;
    background-color: black;
    font-size: 14pt;
    padding: 14px 14px;
    position: relative;
    overflow: hidden;
    padding: 10px 40px; */

    cursor: pointer;
    border: none;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 13pt;
    position: relative;
    text-decoration: none;
    margin-left: 85px;
    width: 150px;
    height: 60px;
    background: black;
    z-index: 0;
}
.collection button:before {
    content: "";
    position: absolute;
    background: inherit;
    width: 60px;
    height: 60px;
    right: -30px;
    bottom: 0px;
    transform: skew(30deg);
    z-index: -1;
}
.collection button:after {
    content: "";
    position: absolute;
    background: inherit;
    width: 60px;
    height: 60px;
    left: -30px;
    bottom: 0px;
    transform: skew(-30deg);
    z-index: -1;
}
.collection button:hover {
    background-color: #f0975c;
}
/* .collection button:hover button:after, button:before {
    background-color: #f0975c;
} */
.brand-list {
    display: flex;
    margin: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}
.brand-list img {
    flex: 1;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 10.66%;
}
.says img {
    z-index: -1;
    margin-bottom: 8.5%;
}
.says {
    position: relative;
    font-family: "Playfair Display", serif;
    margin-top: 55px;
}
.absolute {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
}
.first-c,
.second-c {
    flex: 1;
    display: flex;
    z-index: 1;
    /* margin-top: 24px; */
    align-items: flex-end;
}
.first-c {
    text-align: left;
    justify-content: flex-end;
}
.second-c {
    text-align: right;
}
.first-c span {
    color: white;
}
.second-c span {
    color: white;
}
.first-c div {
    box-sizing: border-box;
    padding: 25px;
}
.second-c div {
    box-sizing: border-box;
    padding: 25px;
}
.absolute h5 {
    font-size: 14pt;
    font-family: "Lato";
    color: #7f7e7e;
}
.absolute h2 {
    margin-top: 56px;
    margin-bottom: 0;
}

footer {
    background-color: #141414;
    /* display: flex; */
    color: white;
    font-family: "Lato";
    padding: 75px;
    margin: 0;
    border-bottom: 42px solid black;
}
footer div {
    flex: 1;
    flex-basis: 22%;
}
footer div:last-child {
    flex-basis: 34%;
}
footer ul {
    list-style: none;
    padding-left: 0;
    margin: 35px 0px;
}
footer a {
    text-decoration: none;
    color: #494949;
}
footer ul li a {
    display: block;
}
footer a:hover {
    color: white;
}
footer li {
    padding: 10px 0px;
}
footer img {
    padding: 40px 10px;
}
footer h3 span {
    font-family: "Playfair Display", serif;
    font-weight: 100;
}
.news {
    border: 1px solid #7f7e7e;
    padding: 5px 0px;
    margin-top: 70px;
}
.news input {
    background-color: black;
    padding: 16px 20px;
    margin: 0 6px;
    border: none;
    color: white;
    width: 62%;
}
.news button {
    border: none;
    background-color: rgb(50, 48, 48);
    padding: 13px 22px;
    margin: 0px 6px;
    cursor: pointer;
}
#feed_img {
    margin-bottom: -8px;
}
.bottom-footer a {
    margin-top: 32px;
    float: right;
}
.bottom-footer p {
    color: #363636;
}
.bottom-footer {
    display: flex;
    position: relative;
}

.border-down {
    /* all: unset; */
    position: absolute;
    top: 0;
    left: 50%;
    /* right: 0; */
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #363636;
    border-bottom: 14px solid transparent;
    width: 24px;
}
.bottom-footer div p {
    /* flex: 1; */
    margin: 32px 0px;
    width: 30%;
}
.featured h2::before,
.brand h2::before,
.recent h2::before,
#feed_h2::before {
    content: url("/assets/images/triangle.png");
    margin-right: 30px;
}
.featured h2::after,
.brand h2::after,
.recent h2::after,
#feed_h2::after {
    content: url("/assets/images/triangle.png");
    margin-left: 30px;
}
.featured h2,
.brand h2,
.recent h2,
#feed_h2 {
    margin: 80px auto;
    font-size: 32pt;
    text-align: center;
    font-family: "Playfair Display", serif;
}
.mbl-nav {
    display: none;
}
#footer-div {
    display: flex;
    /* position: relative; */
    border-bottom: 1px solid #363636;
}
.mbl-nav button:focus {
    outline: none;
}
.mbl-nav li {
    box-shadow: #7f7e7e 0px 3px 10px -10px;
}
.first {
    margin-left: 0;
}
.third {
    margin-right: 0;
}
#cards {
    width: 20%;
}
@media only screen and (min-width: 1200px) {
    .featured h2::before,
    .brand h2::before,
    .recent h2::before,
    #feed_h2::before {
        padding-left: 30%;
        border-bottom: 1px solid #eaeaea;
    }
    .featured h2::after,
    .brand h2::after,
    .recent h2::after,
    #feed_h2::after {
        padding-right: 30%;
        border-bottom: 1px solid #eaeaea;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bar {
        padding: 0px 20px;
        font-size: 8.46pt;
    }
    .bar i {
        padding: 0px 5px;
    }
    .bar span {
        padding: 8px 10px;
        /* flex-basis: auto; */
    }
    .bar a {
        padding: 8px 10px;
        /* display: inline-block; */
    }
    .bar li {
        margin: 10px;
    }
    nav div {
        padding: 0;
    }
    h1 {
        font-size: 55pt;
    }
    .social button {
        margin-top: 0;
        font-size: 8pt;
        transform: translateY(50%);
    }
    .nav-bar a {
        font-size: 14pt;
        padding: 50px 12px;
    }
    .nav-bar {
        padding-left: 35px;
    }
    .social img {
        margin: 43px 7px;
    }
    .brand-list {
        margin: 0;
    }
    .brand-list img {
        margin: 0;
        padding: 14px;
    }
    .sale {
        top: 65%;
    }
    .sale div h3 {
        font-size: 18pt;
    }
    .sale div h2 {
        font-size: 42pt;
    }
    .sale button {
        font-size: 18pt;
        margin: 30px 0px;
    }
    .support {
        padding: 40px 20px;
    }
    .support {
        font-size: 70%;
    }
    .support h2 {
        font-size: 14pt;
    }
    .support i {
        padding-left: 14px;
    }
    .support span {
        font-size: 11pt;
    }
    .g-1 {
        padding-left: 12px;
    }
    .g-3 i {
        padding-left: 0;
    }
    .pictures {
        align-items: center;
    }
    .pictures img {
        height: 100%;
        /* height: fit-content; */
    }
    .first-c img,
    .second-c img {
        width: 40%;
    }
    .absolute h2 {
        margin-top: 33px;
    }
    .absolute h5 {
        margin-top: 20px;
    }
    .first-c div,
    .second-c div {
        padding: 10px;
    }
    footer {
        padding: 40px;
    }
    footer h3 {
        font-size: 1em;
    }
    footer ul {
        margin: 20px 0px;
    }
    footer li {
        padding: 7px 0px;
    }
    #stay-c img {
        width: 18%;
    }
    .news input {
        padding: 12px 8px;
        font-size: 10pt;
    }
    .news button {
        padding: 10px;
        margin: 0;
    }
    .bottom-footer div p {
        width: 40%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
    .bar {
        padding: 0px 10px;
        font-size: 6.46pt;
    }
    .bar i {
        padding: 0px 5px;
    }
    .bar span {
        padding: 15px 10px;
    }
    .bar a {
        padding: 8px 10px;
    }
    nav div {
        padding: 0;
    }
    h1 {
        font-size: 40pt;
    }
    .nav-bar a {
        font-size: 12pt;
        padding: 40px 5px;
    }
    .nav-bar {
        padding-left: 10px;
    }
    .social {
        padding-left: 0;
        margin-right: 10px;
    }
    .social img {
        margin: 37.5px 0px;
        width: 80%;
    }
    .social li {
        width: 100%;
    }
    .social button {
        margin-top: 0;
        font-size: 8pt;
        transform: translateY(50%);
    }
    .brand-list {
        margin: 0;
    }
    .brand-list img {
        margin: 0;
        padding: 14px;
        width: 10.66%;
    }
    .sale {
        top: 58%;
    }
    .sale div h3 {
        font-size: 14pt;
    }
    .sale div h2 {
        font-size: 28pt;
    }
    .sale span {
        font-size: 22pt;
    }
    .sale button {
        font-size: 14pt;
        margin: 20px 0px;
    }
    .support {
        padding: 30px 10px;
    }
    .support {
        font-size: 70%;
    }
    .support h2 {
        font-size: 10pt;
        margin: 8px 0px;
        padding: 0px 5px;
    }
    .support i {
        padding-left: 5px;
        /* font-size: 50%; */
    }
    .inwards-left,
    .inwards-right,
    .arrow-right,
    .arrow-left {
        border-width: 40px;
    }
    .support span {
        font-size: 8pt;
        margin-left: 5px;
    }
    .g-1 {
        padding-left: 12px;
    }
    .g-2 {
        margin-left: -40px;
        margin-right: -40px;
    }
    .g-3 i {
        padding-left: 0;
    }
    .pictures {
        align-items: center;
    }
    .pictures img {
        height: 100%;
    }
    .first-c img,
    .second-c img {
        width: 40%;
    }
    .absolute span {
        font-size: 11pt;
    }
    .absolute h2 {
        font-size: 13pt;
        margin-top: 14px;
    }
    .absolute h5 {
        font-size: 12pt;
        margin: 10px 0px;
    }
    .first-c div,
    .second-c div {
        padding: 10px;
    }
    footer {
        padding: 30px;
    }
    footer h3 {
        font-size: 0.8em;
    }
    footer ul {
        margin: 20px 0px;
    }
    footer li {
        font-size: 0.8em;
        padding: 7px 0px;
    }
    #stay-c img {
        width: 18%;
    }
    .news input {
        padding: 8px 5px;
        font-size: 8pt;
        width: 57%;
    }
    .news button {
        padding: 8px;
        margin: 0;
        font-size: 8pt;
    }
    .bottom-footer div p {
        width: 50%;
        font-size: 8pt;
    }
    .featured h2,
    .brand h2,
    .recent h2,
    #feed_h2 {
        font-size: 24pt;
        text-align: center;
        font-family: "Playfair Display", serif;
    }
}
@media only screen and (min-width: 512px) and (max-width: 768px) {
    .bar {
        padding: 0px 5px;
        font-size: 5.56pt;
    }
    .bar i {
        padding: 0px 10px;
    }
    .bar li {
        padding: 0px;
        margin: 10px 0px;
    }
    .bar a {
        padding: 5px 10px;
    }
    .bar span {
        padding: 10px 0px;
    }
    nav {
        display: none;
    }
    body {
        position: relative;
    }
    .collection {
        margin: 20px;
    }
    .collection img {
        width: 100%;
    }
    .collection div {
        width: 50%;
    }
    #overlay {
        width: 92%;
    }
    .collection button:after {
        width: 30px;
        height: 40px;
        left: -15px;
    }
    .collection button:before {
        width: 30px;
        height: 40px;
        right: -15px;
    }
    .collection button {
        font-size: 10pt;
        width: 95px;
        height: 40px;
        margin: 0 auto;
    }
    .mbl-nav {
        display: block;
        /* all: unset; */
        position: sticky;
        top: 0;
        box-sizing: border-box;
        z-index: 10;
        background-color: white;
        box-shadow: 0px 10px 13px -18px;
        display: flex;
        justify-content: space-between;
    }
    .mbl-nav a {
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
    }
    .mbl-nav h1 {
        all: unset;
        font-family: "KrinkesDecorPERSONAL";
        font-size: 24pt;
        font-weight: 600;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .mbl-nav button {
        display: inline-block;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0px 20px;
        background-color: #ffffff;
        position: relative;
    }
    .mbl-nav ul {
        display: none;
        position: absolute;
        list-style: none;
        top: 70%;
        z-index: 10;
        background-color: white;
        padding: 0;
        width: 100%;
        font-family: "Lato";
        border-top: 1px solid rgb(248, 248, 248);
        box-shadow: 0px 10px 13px -18px;
    }
    .mbl-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        color: initial;
        width: 100%;
        font-family: "Playfair Display", serif;
        font-size: 14pt;
    }
    .mbl-nav ul a:hover {
        background-color: #eaeaea;
    }
    .sale {
        top: 57%;
    }
    .sale button {
        margin: 10px 0px;
        padding: 10px 18px;
        font-size: 10pt;
    }
    .support {
        padding: 10px;
    }
    .support i {
        font-size: 1em;
        vertical-align: super;
        padding-left: 10px;
    }
    .g-1,
    .g-2 i {
        padding-left: 0px;
    }
    .g-2 {
        margin-left: -26px;
        margin-right: -26px;
    }
    .support div {
        border-width: 26px;
    }
    .support h2 {
        font-size: 8pt;
        padding: 0px 5px;
    }
    .support span {
        font-size: 6pt;
        margin: 10px 5px;
    }
    .fa-3x {
        font-size: 1em;
    }
    .sale h2 {
        font-size: 24pt;
        padding: 10px 40px;
    }
    .sale h3 {
        font-size: 12pt;
        padding: 5px 0px;
    }
    .sale span {
        font-size: 20pt;
    }
    .featured h2,
    .brand h2,
    .recent h2,
    #feed_h2 {
        font-size: 16pt;
    }
    .pictures img {
        height: 100%;
    }
    .pictures {
        margin: 10px;
    }
    .first,
    .third {
        margin: 0px 15px;
        flex-basis: 33%;
    }
    .second {
        flex-basis: 40%;
    }
    .pictures img {
        outline: 2px solid white;
        outline-offset: -15px;
    }
    .pictures button {
        bottom: 20px;
        padding: 8px 12px;
        font-size: 8pt;
    }
    .pictures div div:hover img {
        outline-color: rgba(189, 184, 184, 0.521);
        outline-width: 23px;
        cursor: pointer;
    }
    .brand-list {
        margin: 10px;
    }
    .brand-list img {
        margin: 14px;
    }
    .first-c img,
    .second-c img {
        width: 35%;
    }
    .absolute h5 {
        font-size: 7pt;
        margin: 5px 0px;
    }
    .absolute h2 {
        margin: 5px 0px;
        font-size: 12pt;
    }
    .first-c span,
    .second-c span {
        color: white;
        font-size: 6pt;
    }
    .first-c div,
    .second-c div {
        padding: 10px;
    }
    #feed_img {
        margin-bottom: -5px;
    }
    footer {
        padding: 15px;
    }
    #footer-div {
        flex-wrap: wrap;
    }
    footer div {
        flex-basis: 50%;
    }
    footer ul {
        margin: 15px 0px;
    }
    footer li {
        padding: 5px 0px;
    }
    footer img {
        padding-right: 10px;
        width: 55px;
    }
    .news {
        width: fit-content;
        margin-bottom: 10px;
    }
    .news input {
        width: 57%;
        font-size: 0.7em;
        padding: 13px 10px;
    }
    .news button {
        margin: 0;
        margin-right: 5px;
        padding: 13px;
    }
    .bottom-footer div p {
        margin: 22px 0px;
        width: 70%;
        font-size: 10pt;
    }
    #cards {
        width: 50%;
    }
    footer div:last-child {
        flex-basis: auto;
    }
}
@media only screen and (min-width: 414px) and (max-width: 511px) {
    .bar {
        padding: 0px 10px;
        font-size: 6.46pt;
    }
    .bar i {
        padding: 0px 5px;
    }
    .bar span {
        padding: 15px 10px;
    }
    .bar a {
        padding: 8px 10px;
    }
    nav div {
        padding: 0;
    }
    h1 {
        font-size: 40pt;
    }
    nav {
        display: none;
    }
    body {
        position: relative;
    }
    .mbl-nav {
        display: block;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        z-index: 10;
        background-color: white;
        box-shadow: 0px 10px 13px -18px;
        display: flex;
        justify-content: space-between;
    }
    .mbl-nav a {
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
    }
    .mbl-nav h1 {
        all: unset;
        font-family: "KrinkesDecorPERSONAL";
        font-size: 24pt;
        font-weight: 600;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .mbl-nav button {
        display: inline-block;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0px 20px;
        background-color: #ffffff;
        position: relative;
    }
    .mbl-nav ul {
        display: none;
        position: absolute;
        list-style: none;
        top: 65%;
        z-index: 10;
        background-color: white;
        padding: 0;
        width: 100%;
        font-family: "Lato";
        border-top: 1px solid rgb(248, 248, 248);
        box-shadow: 0px 10px 13px -18px;
    }
    .collection {
        margin: 10px;
    }
    .mbl-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        color: initial;
        width: 100%;
        font-family: "Playfair Display", serif;
        font-size: 14pt;
    }
    .mbl-nav ul a:hover {
        background-color: #eaeaea;
    }
    .social img {
        margin: 31px 5px;
    }
    .brand-list {
        margin: 0;
    }
    .brand-list img {
        margin: 0;
        padding: 14px;
        width: 10.66%;
    }
    .sale {
        top: 65%;
    }
    .sale div h3 {
        font-size: 14pt;
    }
    .sale div h2 {
        font-size: 28pt;
    }
    .sale span {
        font-size: 22pt;
    }
    .sale button {
        font-size: 14pt;
        margin: 20px 0px;
    }
    .support {
        padding: 30px 10px;
    }
    .support {
        font-size: 70%;
    }
    .support h2 {
        font-size: 10pt;
        margin: 8px 0px;
        padding: 0px 5px;
    }
    .support i {
        padding-left: 5px;
        font-size: 50%;
    }
    .inwards-left,
    .inwards-right,
    .arrow-right,
    .arrow-left {
        border-width: 40px;
    }
    .support span {
        font-size: 8pt;
        margin-left: 5px;
    }
    .g-1 {
        padding-left: 12px;
    }
    .g-2 {
        margin-left: -40px;
        margin-right: -40px;
    }
    .g-3 i {
        padding-left: 0;
    }
    .pictures {
        align-items: center;
    }
    .pictures img {
        height: 100%;
    }
    .first-c img,
    .second-c img {
        width: 40%;
    }
    .absolute span {
        font-size: 11pt;
    }
    .absolute h2 {
        font-size: 13pt;
        margin-top: 14px;
    }
    .absolute h5 {
        font-size: 12pt;
        margin: 10px 0px;
    }
    .first-c div,
    .second-c div {
        padding: 10px;
    }
    footer {
        padding: 30px;
    }
    footer h3 {
        font-size: 0.8em;
    }
    footer ul {
        margin: 20px 0px;
    }
    footer li {
        font-size: 0.8em;
        padding: 7px 0px;
    }
    #stay-c img {
        width: 18%;
    }
    .news input {
        padding: 8px 5px;
        font-size: 8pt;
        width: 57%;
    }
    .news button {
        padding: 8px;
        margin: 0;
        font-size: 8pt;
    }
    .bottom-footer div p {
        width: 50%;
        font-size: 8pt;
    }
    .collection {
        margin: 10px;
    }
    .featured h2,
    .brand h2,
    .recent h2,
    #feed_h2 {
        font-size: 24pt;
        text-align: center;
        font-family: "Playfair Display", serif;
    }
    /* .banner {
        min-height: 250px;
    } */
}
/*@media only screen and (max-width: 480px) {
    .bar {
        padding: 0px 5px;
        font-size: 3.56pt;
    }
    .bar i {
        padding: 0px 6px;
    }
    .bar li {
        padding: 0px;
        margin: 10px 0px;
    }
    .bar a {
        padding: 5px 10px;
    }
    .bar span {
        padding: 10px 0px;
    }
    nav {
        display: none;
    }
    body {
        position: relative;
    }
    .mbl-nav {
        display: block;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        z-index: 10;
        background-color: white;
        box-shadow: 0px 10px 13px -18px;
        display: flex;
        justify-content: space-between;
    }
    .mbl-nav a {
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
    }
    .mbl-nav h1 {
        all: unset;
        font-family: "KrinkesDecorPERSONAL";
        font-size: 24pt;
        font-weight: 600;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .mbl-nav button {
        display: inline-block;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0px 20px;
        background-color: #ffffff;
        position: relative;
    }
    .mbl-nav ul {
        display: none;
        position: absolute;
        list-style: none;
        top: 65%;
        z-index: 10;
        background-color: white;
        padding: 0;
        width: 100%;
        font-family: "Lato";
        border-top: 1px solid rgb(248, 248, 248);
        box-shadow: 0px 10px 13px -18px;
    }
    .collection {
        margin: 10px;
    }
    .mbl-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        color: initial;
        width: 100%;
        font-family: "Playfair Display", serif;
        font-size: 14pt;
    }
    .mbl-nav ul a:hover {
        background-color: #eaeaea;
    }
    .sale {
        top: 57%;
    }
    .sale button {
        margin: 10px 0px;
        padding: 8px 12px;
        font-size: 5pt;
    }
    .support {
        padding: 5px;
    }
    .support i {
        font-size: 0.7em;
        vertical-align: super;
        padding-left: 10px;
    }
    .support h2 {
        font-size: 5pt;
    }
    .g-1,
    .g-2 i {
        padding-left: 0px;
    }
    .g-2 {
        margin-left: -54px;
        margin-right: -54px;
    }
    .support div {
        border-width: 56px;
    }
    .inwards-left {
        margin-left: -50px;
    }
    .inwards-right {
        margin-right: -50px;
    }
    .support h2 {
        font-size: 8pt;
        padding: 0px 5px;
    }
    .support span {
        font-size: 6pt;
        margin: 10px 5px;
    }
    .fa-3x {
        font-size: 1em;
    }
    .sale h2 {
        font-size: 10pt;
        padding: 5px 25px;
    }
    .sale h3 {
        font-size: 5pt;
        padding: 5px 0px;
        margin: 0px 0px;
    }
    .sale span {
        font-size: 10pt;
    }
    .sale div {
        outline-offset: 3px;
    }
    .featured h2,
    .brand h2,
    .recent h2,
    #feed_h2 {
        font-size: 16pt;
    }
    .first div:first-child, .third div:first-child {
        margin-bottom: 5px;
    }
    .pictures {
        margin: 5px;
    }
    .first,
    .third {
        margin: 0px 10px;
        flex-basis: 33%;
    }
    .second {
        flex-basis: 38%;
    }
    .pictures img {
        height: 100%;
        outline: 2px solid white;
        outline-offset: -10px;
    }
    .pictures button {
        bottom: 20px;
        padding: 8px 12px;
        font-size: 5pt;
    }
    .pictures img:hover {
        outline-width: 10px;
    }
    .brand-list {
        margin: 10px;
    }
    .brand-list img {
        margin: 5px;
    }
    .first-c img,
    .second-c img {
        width: 40%;
    }
    .absolute h5 {
        font-size: 7pt;
        margin: 5px 0px;
    }
    .absolute h2 {
        margin: 5px 0px;
        font-size: 8pt;
    }
    .first-c span,
    .second-c span {
        color: white;
        font-size: 6pt;
    }
    .first-c div,
    .second-c div {
        padding: 5px;
    }
    #feed_img {
        margin-bottom: -5px;
        height: 130px;
    }
    footer {
        padding: 15px;
    }
    footer h3 {
        font-size: 10pt;
    }
    #footer-div {
        flex-wrap: wrap;
    }
    footer div {
        flex-basis: 33%;
    }
    footer ul {
        margin: 15px 0px;
    }
    footer li {
        padding: 5px 0px;
        font-size: 8pt;
    }
    footer img {
        padding-right: 10px;
        width: 55px;
    }
    .news {
        width: fit-content;
        margin-bottom: 10px;
    }
    .news input {
        width: 57%;
        font-size: 0.7em;
        padding: 13px 10px;
    }
    .news button {
        margin: 0;
        margin-right: 5px;
        padding: 13px;
    }
    .bottom-footer div p {
        margin: 22px 0px;
        width: 70%;
        font-size: 10pt;
    }
    #cards {
        width: 60%;
    }
}*/

@media only screen and (max-width: 511px) {
    .bar {
        padding: 0;
        font-size: 10pt;
        flex-wrap: wrap;
    }
    .bar span {
        padding: 0 20px;
        flex: 1;
    }
    .bar i {
        padding: 0;
    }
    #phone {
        vertical-align: middle;
        position: relative;
        padding: 10px;
    }
    #phone i {
        display: block;
        margin-left: 50%;
        transform: translateX(-45%);
    }
    #phone span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        text-align: center;
    }
    .bar ul {
        padding: 0;
        display: block;
        flex-basis: 100%;
        /* text-align: center; */
    }
    .bar li {
        padding: 0;
        margin: 0;
        border: none;
    }
    .bar a {
        display: inline-block;
        width: 100%;
        padding: 5px 20px;
        text-align: center;
    }
    nav {
        display: none;
    }
    body {
        position: relative;
    }
    .mbl-nav {
        display: block;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        z-index: 10;
        background-color: white;
        box-shadow: 0px 10px 13px -18px;
        display: flex;
        justify-content: space-between;
    }
    .mbl-nav a {
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
    }
    .mbl-nav h1 {
        all: unset;
        font-family: "KrinkesDecorPERSONAL";
        font-size: 24pt;
        font-weight: 600;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .mbl-nav button {
        display: inline-block;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0px 20px;
        background-color: #ffffff;
        position: relative;
    }
    .mbl-nav ul {
        display: none;
        position: absolute;
        list-style: none;
        top: 65%;
        z-index: 10;
        background-color: white;
        padding: 0;
        width: 100%;
        font-family: "Lato";
        border-top: 1px solid rgb(248, 248, 248);
        box-shadow: 0px 10px 13px -18px;
    }
    .mbl-nav li {
        box-shadow: #7f7e7e 0px 3px 10px -10px;
    }
    .collection {
        margin: 10px;
    }
    .collection > div {
        width: 50%;
    }
    .collection img {
        width: 100%;
    }
    .collection button {
        font-size: 8pt;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 30px;
    }
    .collection button::after {
        width: 40px;
        height: 30px;
        left: -10px;
    }
    .collection button::before {
        width: 40px;
        height: 30px;
        right: -10px;
    }
    .collection span {
        padding: 10px 6px;
        margin: 16px;
        font-size: 8pt;
    }
    .mbl-nav a {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        color: initial;
        width: 100%;
        font-family: "Playfair Display", serif;
        font-size: 14pt;
    }
    .mbl-nav ul a:hover {
        background-color: #eaeaea;
    }
    .sale h3 {
        font-size: 14pt;
    }
    .sale h2 {
        font-size: 32pt;
        padding: 10px 50px;
    }
    .banner {
        min-height: 380px;
        background-image: none;
        background-color: #cec1a8;
    }
    .sale span {
        font-size: 20pt;
    }
    .sale button {
        margin: 40px 0px;
        padding: 20px;
        font-size: 18pt;
    }
    h3#border::after,
    h3#border::before {
        width: 40px;
    }
    .support {
        flex-wrap: wrap;
        padding: 20px;
    }
    .g-1,
    .g-3 {
        padding: 10px;
    }
    .g-2 i {
        padding-left: 0px;
    }
    .g-1,
    .g-2,
    .g-3 i {
        padding: 0px 10px;
    }
    .support h2 {
        font-size: 13pt;
        padding: 5px;
    }
    .support span {
        font-size: 11pt;
        margin: 10px 5px;
    }
    .support i {
        font-size: 18pt;
        vertical-align: super;
    }
    .inwards-left,
    .inwards-right,
    .arrow-right,
    .arrow-left {
        border-width: 40px;
        display: none;
    }
    .inwards-left {
        margin-left: -20px;
    }
    .inwards-right {
        margin-right: 10px;
    }
    .g-2 {
        margin: 10px -40px;
        width: 100%;
        padding: 5px 0px;
    }
    .g-1,
    .g-2,
    .g-3 {
        flex-basis: 100%;
        margin: 0;
        margin: 10px 0px;
        padding: 10px;
    }
    .inwards-left,
    .inwards-right {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .inwards-left {
        margin-left: 0px;
    }
    .featured h2,
    .brand h2,
    .recent h2,
    #feed_h2 {
        font-size: 20pt;
    }
    .inwards-right {
        margin-right: 15px;
    }
    .pictures {
        margin: 10px;
        flex-wrap: wrap;
    }
    .pictures img {
        height: 100%;
    }
    .first,
    .third {
        flex-basis: 100%;
    }
    .second {
        flex-basis: 100%;
        padding: 20px;
    }
    .center-s {
        flex-basis: 100%;
    }
    .brand-list {
        margin: 5px;
        flex-wrap: wrap;
    }
    .brand-list img {
        margin: 10px;
        width: 20%;
    }
    #footer-div {
        flex-wrap: wrap;
    }
    footer div {
        flex-basis: 100%;
    }
    footer {
        padding: 20px;
    }
    footer img {
        padding: 5px;
        width: 15%;
    }
    .news button {
        padding: 10px;
        margin: 0px;
        width: 34%;
    }
    .news input {
        padding: 10px 5px;
        width: 58%;
    }
    .bottom-footer div p {
        width: 80%;
    }
    #cards {
        width: 70%;
    }
    .first-c img,
    .second-c img {
        width: 40%;
    }
    #feed_img {
        height: 500px;
    }
    .absolute {
        display: block;
    }
    .absolute img {
        z-index: 5;
    }
    .first-c div,
    .second-c div {
        padding: 10px;
    }
    .absolute h2,
    .absolute h5 {
        margin: 10px 0px;
    }
    .bottom-footer img {
        width: 100%;
    }
    .second-c div {
        padding-top: 30px;
    }
    .block {
        padding: 5px 15%;
    }
}
